textarea {
    border-radius: 3px;
    width: 300px;
    height: 50px;
    background-color: rgba(240,240,240); 
    color: rgba(10,10,10);

    vertical-align: text-top;
}

button {
    vertical-align: text-top;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: transparent;
    color: rgba(10,10,10);
    box-shadow: none;
    cursor: pointer;
    font-family: monospace;
}