
<form [formGroup]="formGroup">
    <textarea placeholder="Enter your message here..." formControlName="message"></textarea>
    <button (click)="onPost($event)">{{ isPosting ? 'Posting... please wait' : 'Post' }}</button>
</form>
