<p *ngIf="did && !inProgress" [routerLink]="['profile', did]">
    <b>{{ name}}</b> <span> {{ did | slice: 0:18}}...</span>
</p>
<p *ngIf="!did && !inProgress" (click)="onAuth()">
    Click here to login
</p>
<p *ngIf="inProgress">
    Please wait... we are gathering your DID
</p>

