<ng-container *ngIf="profile">
    <div class="profile__header">
        <h1>{{ profile.displayName }}</h1>
        <p>Location: {{ profile.location }}</p>
        <p>DID: {{ profile.did }}</p>
    </div>

    <div class="profile__feed">
        <h4>Feed:</h4>
        <app-feed [did]="profile.did"></app-feed>
    </div>

</ng-container>
