:host {
    .topbar__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .topbarInner__spacer {
        flex: 1;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }
}